.header {
  background-size: cover;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
}

.site-title a {
  text-decoration: none;
  -webkit-animation: color-change 10s infinite;
  -moz-animation: color-change 10s infinite;
  -o-animation: color-change 10s infinite;
  -ms-animation: color-change 10s infinite;
  animation: color-change 10s infinite;
}

@-webkit-keyframes color-change {
  0% { color: bisque; }
  25% { color: rosybrown}
  40% { color: rebeccapurple; }
  50% { color: lightblue}
  60% { color: lightseagreen}
  70% { color: lightslategrey}
  80% { color: lavender}
  90% { color: firebrick}
  100% { color: pink; }
}
@-moz-keyframes color-change {
  0% { color: bisque; }
  25% { color: rosybrown}
  40% { color: rebeccapurple; }
  50% { color: lightblue}
  60% { color: lightseagreen}
  70% { color: lightslategrey}
  80% { color: lavender}
  90% { color: firebrick}
  100% { color: pink; }
}
@-ms-keyframes color-change {
  0% { color: bisque; }
  25% { color: rosybrown}
  40% { color: rebeccapurple; }
  50% { color: lightblue}
  60% { color: lightseagreen}
  70% { color: lightslategrey}
  80% { color: lavender}
  90% { color: firebrick}
  100% { color: pink; }
}
@-o-keyframes color-change {
  0% { color: bisque; }
  25% { color: rosybrown}
  40% { color: rebeccapurple; }
  50% { color: lightblue}
  60% { color: lightseagreen}
  70% { color: lightslategrey}
  80% { color: lavender}
  90% { color: firebrick}
  100% { color: pink; }
}
@keyframes color-change {
  0% { color: bisque; }
  25% { color: rosybrown}
  40% { color: rebeccapurple; }
  50% { color: lightblue}
  60% { color: lightseagreen}
  70% { color: lightslategrey}
  80% { color: lavender}
  90% { color: firebrick}
  100% { color: pink; }
}

.add-post-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}

.language-switcher {
  background: rgba(0, 0, 0, 0.1);
}

.language-switcher ul {
  list-style: none;
  width: 980px;
  margin: auto;
  text-align: right;
}

.language-switcher li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
